@font-face {
  font-family: "HelveticaNeue";
  src: url("fonts/HelveticaNeueLt.ttf") format("truetype");
}
@font-face {
  font-family: "Sanko";
  src: url("fonts/Senko\ Hanabi\ DEMO.otf");
}
@font-face {
  font-family: "Warheed";
  src: url("fonts/Warheed.otf");
}
@font-face {
  font-family: "Ketsana";
  src: url("fonts/Ketsana-Regular-PU.ttf") format("truetype");
}
@font-face {
  font-family: "mybela";
  src: url("fonts/Mybela.ttf");
}
@font-face {
  font-family: "ojol";
  src: url("fonts/ojol.otf");
}
@font-face {
  font-family: "Austine";
  src: url("fonts/Austine\ Demo.ttf");
}
@font-face {
  font-family: "Serenity";
  src: url("fonts/Serenity\ Script.otf");
}
.App {
  /* width: 100vw;
  height: 100vh; */
  background-image: url("../images/mountains.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  display: inline-block;
  width: 100vw;
  margin: 0px;
  height: 13vh;
  background-color: rgba(255, 255, 255, 0.7);
  padding-left: 5%;
  font-size: 40pt;
  /* font-weight: bold; */
  color: black;
  font-family: "mybela";
}
.header-title {
  display: inline-block;
  padding-top: 10px;
  color: black;
}
.help-link {
  float: right;
  padding-right: 5%;
  padding-top: 10px;
  color: black;
}

.main-link {
  color: black;
  display: inline;
}
.help {
  color: black;
}
.help:hover {
  color: rgba(0, 0, 0, 0.712);
}
.helpPage {
  font-size: 25px;
  color: white;
}
.icon {
  display: inline-block;
  height: 80%;
  margin: 0;
}
.searchbar {
  width: 100vw;
  text-align: center;
  font-size: 40pt;
  font-family: "HelveticaNeue";
}
.btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 40pt;
}
.main-body {
  /* height: 35%;
   */
  height: 75vh;
  margin: auto;
  margin-top: 100px;
  width: 1000px;
  padding: 30px 0px 10px;
}
.main-question {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 65pt;
  text-align: center;
  font-family: "Sanko";
  color: white;
  display: flex;
}

.button {
  background-color: white;
  color: black;
  font-size: 36px;
  font-family: "Sanko";
  border: none;
  padding: 0px 36px;
  text-align: center;
  text-decoration: none;
  margin: 0;
  margin-left: 5px;
  background-color: rgba(255, 255, 255, 0.7);
}
.button:hover {
  opacity: 0.5;
}
.buttons {
  margin: 0;
}
.rcorners {
  border-radius: 3px;
  border: 1px solid gray;
  font-size: 24;
  float: left;
  width: 85%;
}
.chart-container {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 100px;
}

.textbar-and-button {
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
}

.eventsPage {
  color: white;
  font-size: 30pt;
}

/* from here on out is sample code  to be deleted */

nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  margin-bottom: 20px;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.current {
  border-bottom: 4px solid white;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}

.container {
  display: flex;
  justify-content: center;
}

.section-title {
  font-size: 5vw;
  margin: 4vw 0 3vw 0;
  text-align: center;
  color: white;
  font-family: "mybela";
}
.section-title-2 {
  margin: 0;
  font-size: 5vw;
  text-align: center;
  color: white;
  font-family: "mybela";
}

.card {
  margin: 0 2vw 0 2vw;
  align-self: flex-start;
  background-color: rgba(255, 255, 255, 0.89);
  padding-bottom: 20px;
}

.card-title {
  font-size: 2vw;
  color: rgb(77, 77, 77);
  padding: 5px 20px 5px 20px;
  font-family: "HelveticaNeue";
  font-weight: bold;
}

.btn-primary {
  display: inline-block;
}

.card-link {
  color: white;
}

.card-subtitle {
  padding: 0 20px 30px 20px;
  font-family: "HelveticaNeue";
}

.supporting-artists {
  padding-bottom: 20px;
}

.card-text {
  font-size: 1.1vw;
  padding: 0 20px 0 20px;
  font-family: "HelveticaNeue";
}

.tabs {
  width: 80%;
  margin: 2vw auto 10vw auto;
}

.tab-btn {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #dee2e6;
  background-color: white;
}
