/*Alicja wrote these lines of code - under incorrect commit due to Github being stupid and we had to restart
the repository*/
/*Code for card flip animation came from: https://www.w3schools.com/howto/howto_css_flip_card.asp */


form > .row {
    background-color: lightblue;
}

label {
    font-size: large;
}

.card-containers {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;

}
.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0; 
}
  

  .front {
    transform: rotateY(0deg);
  }
  
  .back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;

  }
 
  .card-flip:hover .front {
    transform: rotateY(-180deg);
    position: absolute;
  }
    
  .card-flip:hover .back {
    transform: rotateY(0deg);
    position: initial;
  }

  .error-msg {
    color: white;
    display: grid;
    justify-content: center;
  }

  .btn-primary{
    border-radius: .25rem;
  }

  .chart-container {
    display: flex;
    flex-direction: row;

  }

  .chart-area {
    height: 50vh;
    flex-grow: 1;
    background-color: white;
    margin-top: 2.5rem;
    margin-left: 2.7rem;
    margin-right: 2.7rem;

  }
  
  .Bar {
    height: 25vh;
  }

