form > .row {
    background-color: lightblue;
}

label {
    font-size: large;
}

.card-containers {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
}
.card-flip > div {
    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
  
}
  
  .front {
    transform: rotateY(0deg);
  }
  
  .back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
  }


  
  .card-flip:hover .front {
    transform: rotateY(-180deg);
  }
    
  .card-flip:hover .back {
    transform: rotateY(0deg);
  }

